@mixin wh {
  width: 100%;
  height: 100%;
}
html {
  box-sizing: border-box;
  @include wh;
  margin: 0;
  ::-webkit-scrollbar {
    width: 0;
  }
  body {
    @include wh;
    margin: 0;
    #app {
      @include wh;
      font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
        'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    }
  }
}
