/* 字体大小粗细 */
@mixin fw($font, $weight: 400) {
  font-size: $font;
  font-weight: $weight;
}

/* 宽度高度 */
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

/* 字符串自动截取 */
@mixin el {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 上下左右居中 */
@mixin fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 上下居中 */
@mixin fh {
  display: flex;
  align-items: center;
}

/* 字体大小 */
@mixin sw($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
